{% load staticfiles %}
<html>
  <head>
    <title>Case Page</title>
    <script src="{% static 'dash_kijiji/js/websocketbridge.js' %}" type="text/javascript"></script>
  </head>
  <style>
p.scrollable {
  background-color: lightblue;
  width: 65%;
  height: 80%;
  overflow: auto;
}
  </style>
  <body>
    <h1>Case Page</h1>
    {% if case_id %}
    <p id="time">Current time: </p>
    <p class="scrollable" id="notifylist">
      {% for log_entry in case_log_history %}
        <span><br>    >>> {{ log_entry }}</span>
      {% empty %}
        <span><br>    >>> START</span>
      {% endfor %}
    </p>
    <p>
      <form action='' method='POST'>
        <button type='submit'>Run test</button>{% csrf_token %}
        <input type="hidden" value="telegram" name="script_name">
      </form>
    </p>
    <script>   // todo: move js elsewhere
    function checkTime(i) {
      if (i < 10) {
        i = "0" + i;
      }
      return i;
    }

    function startTime() {
      var today = new Date();
      var h = today.getHours();
      var m = today.getMinutes();
      var s = today.getSeconds();
      // add a zero in front of numbers<10
      m = checkTime(m);
      s = checkTime(s);
      document.getElementById('time').innerHTML ='Time: ' + h + ":" + m + ":" + s;
      t = setTimeout(function() {
        startTime()
      }, 500);
    }
    startTime();

    document.addEventListener('DOMContentLoaded', function() {
      const webSocketBridge = new channels.WebSocketBridge();
      const nl = document.querySelector("#notifylist");
      webSocketBridge.connect('/notifications/');  // todo: stop receiving every Case's notes
      webSocketBridge.listen(function(event) {
        console.log("RESPONSE:", event);
        if (event.case_id == "{{ case_id }}") {
          var el = document.createElement("span");
          el.innerHTML = `<br>    >>> ${event.case_last_log}`;
          nl.appendChild(el);
          var container = document.getElementById('notifylist');  // todo: detect scrollUp
          container.scrollTop = container.scrollHeight;
        }
      });
      document.ws = webSocketBridge; /* for debugging */
    })
    </script>
    {% endif %}
  </body>
</html>
