{% load staticfiles %}
<html>
  <head>
    <title>Notifier</title>
    <script src="{% static 'dash_kijiji/js/websocketbridge.js' %}" type="text/javascript"></script>
  </head>
  <style>
p.scrollable {
  background-color: lightblue;
  height: 80%;
  overflow: auto;
}
  </style>
  <body>
    <h1>Notifier</h1>
    <p>Notifications</p>
    <p class="scrollable" id="notifylist"></p>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
      const webSocketBridge = new channels.WebSocketBridge();
      const nl = document.querySelector("#notifylist");

      webSocketBridge.connect('/notifications/');
      webSocketBridge.listen(function(event) {
        console.log("RESPONSE:", event);
        if (typeof event != "undefined") {
          var el = document.createElement("span");
          el.innerHTML = `<br>>>> ${event.last_log}`;
          nl.appendChild(el);
        }
      });
      document.ws = webSocketBridge; /* for debugging */
    })
    </script>
  </body>
</html>
